In [1]:
import numpy as np

In [2]:
np.nan in [np.nan]

True

In [3]:
np.nan == np.nan

False

In [4]:
np.nan is np.nan

True

In [5]:
one = np.nan
two = np.nan
one is two

True

In [6]:
id(one)

139774861775280

In [7]:
id(two)

139774861775280

In [8]:
float('nan') is float('nan')

False

In [9]:
import pandas as pd

In [12]:
var  = float('nan')
#var is np.nan
#np.isnan(var)
pd.isna(var)
#pd.isnull(var)

True

In [13]:
import math
var = float('NAN')
math.isnan(var)

True

In [14]:
math.nan is math.nan

True

In [15]:
math.nan is np.nan

False

In [16]:
math.nan is float('nan')

False