In [11]:
def add_num(x,y):
    return(x+y)

a=add_num

print(add_num(2,2))
a(4,5)

4

9

In [12]:
def add_num(x,y,z=None):
    if (z==None):
        return(x+y)
    else:
        return(x+y+z)

In [14]:
add_num(2,4,7)

13

In [19]:
def add_num(x,y,z=None,flag=True):
    if(flag):
        print('flag is true')
    if(z==None):
        return(x+y)
    else:
        return(x+y+z)
    
print(add_num(1,2,3,flag=False))

6

In [20]:
type(add_num)

function

In [21]:
type('This is a String')

str

In [23]:
type(1.0)

float

In [24]:
x=(1,'a',3.25)
x

(1, 'a', 3.25)

In [25]:
type(x)

tuple

In [27]:
#x.append(4)

In [28]:
x=[12,'r',4.25]

In [29]:
x

[12, 'r', 4.25]

In [30]:
type(x)

list

In [31]:
x.append('pra')

In [32]:
x

[12, 'r', 4.25, 'pra']

In [33]:
for item in x:
    print(item)

12
r
4.25
pra

In [35]:
i=0
while(i!=len(x)):
    print(x[i])
    i=i+1

12
r
4.25
pra

In [36]:
(1,2)+(3,4)

(1, 2, 3, 4)

In [37]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [38]:
[1]*3

[1, 1, 1]

In [39]:
1 in [1,2,3]

True

In [1]:
x = 'This is a String'

print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [2]:
x[-1]

'g'

In [3]:
x[-4:-2]

'ri'

In [4]:
x[3:]

's is a String'

In [5]:
x[:3]

'Thi'

In [10]:
firstname = 'Christopher'
lastname = 'Brooks'
print(firstname + lastname)
print(firstname*3)
print('Chris' in firstname)

ChristopherBrooks
ChristopherChristopherChristopher
True

In [11]:
firstname = 'Christopher arthur hansen brooks'.split(' ')[0]

lastname = 'Cristopher arthur hansen brooks'.split(' ')[-1]

In [12]:
print(firstname)
print(lastname)

Christopher
brooks

In [13]:
'praful'+2

TypeError: can only concatenate str (not "int") to str

In [14]:
'praful'+str(6)

'praful6'

In [15]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
a=x.items()

In [16]:
a

dict_items([('Christopher Brooks', 'brooksch@umich.edu'), ('Bill Gates', 'billg@microsoft.com')])

In [17]:
x['Christopher Brooks']

'brooksch@umich.edu'

In [18]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [19]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [20]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [22]:
for name ,email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [23]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname , lname , email = x

In [24]:
fname

'Christopher'

In [25]:
'Chris' + str(2)

'Chris2'

In [26]:
sales_record = {
    'price' : 3.24,
    'num_items' : 4,
    'person' : 'Chris'
}

sales_statement = '{} bought {} item(s) at a price of {} each for a total {}'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total 12.96

In [30]:
import csv

%precision 4

with open('/root/Downloads/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [31]:
len(mpg)

234

In [33]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [36]:
sum(float(d['cty']) for d in mpg)/len(mpg)

16.8590

In [37]:
sum(float(d['hwy']) for d in mpg)/len(mpg)

23.4402

In [38]:
cyclinders = set(d['cyl'] for d in mpg)

In [39]:
cyclinders

{'4', '5', '6', '8'}

In [40]:
citympgbycyl=[]

for c in cyclinders:
    summpg = 0
    cyltypecount= 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    citympgbycyl.append((c,summpg/cyltypecount))
citympgbycyl.sort(key = lambda x :x[0])

citympgbycyl

[('4', 21.0123), ('5', 20.5000), ('6', 16.2152), ('8', 12.5714)]

In [41]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [42]:
hwympgbyclass = []

for t in vehicleclass:
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d['class'] == t:
            summpg += float(d['hwy'])
            vclasscount += 1
    hwympgbyclass.append((t,summpg/vclasscount))
hwympgbyclass.sort(key = lambda x:x[1])
hwympgbyclass

[('pickup', 16.8788),
 ('suv', 18.1290),
 ('minivan', 22.3636),
 ('2seater', 24.8000),
 ('midsize', 27.2927),
 ('subcompact', 28.1429),
 ('compact', 28.2979)]

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1569857936.405865

In [3]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2019, 9, 30, 21, 9, 33, 347124)

In [4]:
dtnow.month

9

In [5]:
delta = dt.timedelta(days=10)
delta

datetime.timedelta(days=10)

In [6]:
today = dt.date.today()
today

datetime.date(2019, 9, 30)

In [7]:
today-delta

datetime.date(2019, 9, 20)

In [8]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title,lastname)
list(map(split_title_name,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [9]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]